
TritonHacks/Assets/Scenes/SampleScene.unity
TritonHacks/Library/CurrentLayout-default.dwlt
TritonHacks/Library/PackageManager/ProjectCache
TritonHacks/Library/PackageManager/ProjectCache.md5
TritonHacks/Library/StateCache/SceneView/8c/8cd7c613bf844de3b80696e27a479d5e.json
TritonHacks/Logs/AssetImportWorker0-prev.log
